.para
{
    font-size: 150px;
    font-size:900;
    font-family:roboto;
}
.head
{
    font-size: 150px;
    font-size: 900;
    font-family: roboto;
}
.btn
{
    width :100px;
    height: 36px;
    border-width: 0px;
    border-radius: 10px;
    font-family: roboto;
     
}
.bgcontainer
{
    display:flex;
    flex-direction: column;
    align-items: center;
}